<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Competitive Edge - Gaming Forum</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" />

  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet" />
  <!-- custom CSS -->
  <link rel="stylesheet" href="/public/assets/style.css" />
</head>

<body style="background-image: url('/public/Images/background.jpg'); background-size: cover; background-position: center;">
  <div class="container">
    <!-- Bootstrap Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
      <div class="container-fluid">
        <a class="navbar-brand text-light" href="#">Competitive Edge Gaming Forum</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link text-light" href="/homepage">HOME</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light" href="/game">GAME FORUMS</a>
            </li>
            {{#if logged_in}}
                <li class='nav-item'>
                  <a class='nav-link text-light' href='#' id='logout'>LOGOUT</a>
                </li>
            {{else}}
                <li class='nav-item'>
                  <a class='nav-link text-light' href='/login'>LOGIN</a>
                </li>
                <li class='nav-item'>
                  <a class='nav-link text-light' href='/signup'>SIGN UP</a>
                </li>
              {{/if}}
            </li>
          </ul>
        </div>
      </div>
    </nav>

    
  <div class='container'>
      {{{body}}}
    </div>

  <script src="/public/js/login.js"></script>
  <script src="/public/js/logout.js"></script>
  <script src="/public/js/game.js"></script>
  <script src="/public/js/newPost.js"></script>
  <script src="/public/js/editPost.js"></script>
  <script src="/public/js/deletePost.js"></script>
  <script src="/public/js/newComment.js"></script>
  <script src="/public/js/signup.js"></script>
  <!-- Bootstrap JS and Popper.js (required for Bootstrap) -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>