<h1>{{game.name}}</h1>


  <a href="/newpost" class="btn btn-success">Create New Post</a>


{{#each game.posts as |post|}}
<a href="/post/{{post.id}}" class="card-link">
  <div class="card bg-dark text-light">
    <h5 class="card-header text-light">Featured</h5>
    <div class="card-body">
      <h5 class="card-title" type="button">{{post.title}}</h5>
      <p class="card-text">Posted by: {{post.User.username}}</p>
    </div>
  </div>
</a>
{{/each}}