<h1>{{game.name}}</h1>

{{#each posts as |post|}}
<div class="card">
  <h5 class="card-header">Featured</h5>
  <div class="card-body">
    <h5 class="card-title" type="button">{{this.title}}</h5>
    <p class="card-text">Posted by: {{this.User.username}}</p>
  </div>
</div>
{{/each}}