<!-- Bootstrap Grid System -->
    <div class="row align-items-center">
      <div class="col text-light text-center">
        <h1>Competitive Edge</h1>
        <p>
          A gaming forum where players can post anything about their favorite games.
           Login to post or select a game to browse threads related to your game of choice.
        </p>
      </div>
      <div class="col">
        <!-- Bootstrap Cards -->
    <div class="row">
      <div class="col-md-6">
        <div class="card mb-3" style="background-image: url('/public/Images/league.jpg');">
          <div class="card-body">
            <h5 class="card-title text-light">League of Legends</h5>
            <button class="btn btn-primary">Visit Forum</button>
          </div>
        </div>
      </div>
    
      <div class="col-md-6">
        <div class="card mb-3" style="background-image: url('/public/Images/elden-ring.jpg');">
          <div class="card-body">
            <h5 class="card-title text-light">Elden Ring</h5>
            <button class="btn btn-primary">Visit Forum</button>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="card mb-3 middle" style="background-image: url('/public/Images/tarkov.jpg');">
          <div class="card-body">
            <h5 class="card-title text-light">Escape from Tarkov</h5>
            <a class="btn btn-primary" href="/game/4">Visit Forum</a>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="card mb-3" style="background-image: url('/public/Images/cod.jpg');">
          <div class="card-body">
            <h5 class="card-title text-light">Call of Duty</h5>
            <button class="btn btn-primary">Visit Forum</button>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card mb-3" style="background-image: url('/public/Images/valorant.jpg');">
          <div class="card-body">
            <h5 class="card-title text-light">Valorant</h5>
            <button class="btn btn-primary">Visit Forum</button>
          </div>
        </div>
      </div>
    </div>
      </div>
    </div>
  </div>